# Imports

In [4]:
import math as math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.feature_selection import VarianceThreshold, SelectKBest
from sklearn.preprocessing import StandardScaler, Normalizer, KBinsDiscretizer, FunctionTransformer, RobustScaler, PowerTransformer, QuantileTransformer
from sklearn.decomposition import PCA
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.svm import LinearSVC, SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Data loading

In [5]:
data_cols = ["RI", "Na", "Mg", "Al", "Si", "K", "Ca", "Ba", "Fe"]
class_col = "class"
col_names = ["id", *data_cols, class_col]

file_path = "./glass.data"
dataset = pd.read_csv(file_path, names=col_names)

# Data exploration

In [6]:
dataset.shape

(214, 11)

In [7]:
dataset.head(11)

    id       RI     Na    Mg    Al     Si     K    Ca   Ba    Fe  class
0    1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.00      1
1    2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.00      1
2    3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.00      1
3    4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.00      1
4    5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.00      1
5    6  1.51596  12.79  3.61  1.62  72.97  0.64  8.07  0.0  0.26      1
6    7  1.51743  13.30  3.60  1.14  73.09  0.58  8.17  0.0  0.00      1
7    8  1.51756  13.15  3.61  1.05  73.24  0.57  8.24  0.0  0.00      1
8    9  1.51918  14.04  3.58  1.37  72.08  0.56  8.30  0.0  0.00      1
9   10  1.51755  13.00  3.60  1.36  72.99  0.57  8.40  0.0  0.11      1
10  11  1.51571  12.72  3.46  1.56  73.20  0.67  8.09  0.0  0.24      1

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 214 entries, 0 to 213
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      214 non-null    int64
 1   RI      214 non-null    float64
 2   Na      214 non-null    float64
 3   Mg      214 non-null    float64
 4   Al      214 non-null    float64
 5   Si      214 non-null    float64
 6   K       214 non-null    float64
 7   Ca      214 non-null    float64
 8   Ba      214 non-null    float64
 9   Fe      214 non-null    float64
 10  class   214 non-null    int64
dtypes: float64(9), int64(2)
memory usage: 18.5 KB

In [9]:
dataset.isnull().sum()

id       0
RI       0
Na       0
Mg       0
Al       0
Si       0
K        0
Ca       0
Ba       0
Fe       0
class    0
dtype: int64

In [10]:
dataset.describe()

,id,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,class
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000
mean,107.500000,1.518365,13.407850,2.684533,1.444907,72.650935,0.497056,8.956963,0.175047,0.057009,2.780374
std,61.920648,0.003037,0.816604,1.442408,0.499270,0.774546,0.652192,1.423153,0.497219,0.097439,2.103739
min,1.000000,1.511150,10.730000,0.000000,0.290000,69.810000,0.000000,5.430000,0.000000,0.000000,1.000000
25%,54.250000,1.516522,12.907500,2.115000,1.190000,72.280000,0.122500,8.240000,0.000000,0.000000,1.000000
50%,107.500000,1.517680,13.300000,3.480000,1.360000,72.790000,0.555000,8.600000,0.000000,0.000000,2.000000
75%,160.750000,1.519157,13.825000,3.600000,1.630000,73.087500,0.610000,9.172500,0.000000,0.100000,3.000000
max,214.000000,1.533930,17.380000,4.490000,3.500000,75.410000,6.210000,16.190000,3.150000,0.510000,7.000000

In [12]:
dataset[class_col].value_counts().sort_index()

class
1    70
2    76
3    17
5    13
6     9
7    29
Name: count, dtype: int64